body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5.5rem;
    font-weight: 300; /* Grosor de la fuente */
    letter-spacing: 0.05em; /* Espaciado entre letras */
    color: rgba(230, 180, 60, 0.9); /* Ajusta el tono dorado */
    margin-top: 0; /* Asegúrate de que no tenga margen superior */
    margin-bottom: 2rem;

}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
}

h1, .subtitle, .bio, .cta-buttons {
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.subtitle {
    font-size: 2rem;
    font-weight: 500;
    color: #cfd8dc;
    letter-spacing: 0.1em;
    margin-bottom: 2rem;
}

.divider {
    margin: 0 10px;
    color: #00ffff;
}

.App {
    text-align: center;
}

/* Estilos para el Navbar */

.navbar {
    display: flex;
    justify-content: space-between; /*Ajusta los elementos del menu*/
    align-items: center; /*Centra verticalmente los elementos*/
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px); /* Desenfoque */
    z-index: 1000;
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Links del navbar visibles en pantallas grandes */
.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    transition: none;
}

/* Espaciado y disenio de enlaces*/
.navbar-links a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0 1.5rem; /* Espacio entre los elementos */
    position: relative;
    transition: color 0.3s ease-in-out;
}

.navbar-links a:hover {
    color: #00ffff;
}

.navbar-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #00ffff;
    transition: width 0.3s ease-in-out, left ease-in-out;
}

.navbar-links a:hover::after {
    width: 100%;
    left: 0;
}


.hamburger-menu {
    display: none; /* Oculta el menú en pantallas pequeñas */
    flex-direction: column;
    cursor: pointer;
    z-index: 1100;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0 10px; /* Espacio entre los elementos */
    white-space: nowrap; /* No permite saltos de línea */
}

/* Media query para dispositivos pequeños */
@media (max-width: 768px) {
    .navbar {
        padding: 1vw 2vw; /* Reduce el padding en pantallas pequeñas */
        justify-content: space-around; /* Ajusta la distribución del menú en pantallas pequeñas */
    }

    .navbar a {
        font-size: 0.9rem; /* Reduce el tamaño de fuente en dispositivos pequeños */
    }

    .navbar-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        align-items: center;
        max-height: 0; /* Oculta el menú por defecto */
        overflow: hidden;
        transition: max-height 0.4s ease-in-out; /* Efecto de despliegue */
    }

    .navbar-links.active {
        max-height: 500px; /* Despliega el menú cuando está activo */
    }

    .navbar-links a {
        padding: 1rem 0;
        font-size: 1.2rem;
        color: white;
    }

    .hamburger-menu {
        display: flex; /* Muestra el ícono de hamburguesa en pantallas pequeñas */
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }

    .hamburger-menu .bar {
        width: 100%;
        height: 3px;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    /* Animaciones de transición del menú cuando está activo */
    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

.cursor {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    pointer-events: none; /* Permite hacer clicks a travez del cursor */
    transform: translate(-50%, -50%); /* Centra el curculo en el mouse */
    transition: transform 0.1s ease-out; /* Movimiento mas suave */
    z-index: 1000; /* Siempre arriba */
}

section {
    padding: 100px 20px;
    min-height: 100vh;
}

h2 {
    font-size: 4vw;
    margin-bottom: 20px;
}

p {
    font-size: 1.5vw;
    line-height: 1.5;
}

.scroll-icon .arrow {
    width: 14px;
    height: 14px;
    border-right: 2px solid #00FFFF;
    border-bottom: 2px solid #00FFFF;
}

.scroll-icon {
    position: relative;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; /* Siempre arriba */
    animation: fadeIn 2s ease-out;
    margin-top: 20px;
}

.mouse {
    width: 45px;
    height: 65px;
    border: 2px solid white;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.mouse:hover {
    transform: scale(1.1); /* Pequeño efecto al hover */
}

.mouse-in {
    width: 6px;
    height: 18px;
    background-color: white;
    border-radius: 2px;
    animation: scroll 1.5s infinite;
}

.expertise-section {
    padding: 80px 20px;
    background: linear-gradient(180deg, #1c2833, #2c3e50);
    color: #ffffff;
    text-align: center;
}

.expertise-section h2 {
    font-size: 3rem;
    margin-bottom: 50px;

}

.expertise-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.expertise-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.expertise-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icon {
    font-size: 2.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
    transform: scale(1.2); /* Aumentar el tamaño del ícono al hacer hover */
}

.expertise-details {
    text-align: left;
}

.expertise-details h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.expertise-details p {
    font-size: 1.2rem;
    color: #cfd8dc;
}

.highlight {
    position: relative;
    display: inline-block;

}

.highlight::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.expertise-item:hover .highlight::after {
    width: 100%; /* Muestra el subrayado al hacer hover */
}
.highlight.pink::after {
    background-color: #ff007f;
}

.highlight.blue::after {
    background-color: #007bff;
}

.highlight.orange::after {
    background-color: #ff5722;
}

.expertise.table p {
    font-size: 1rem;
    line-height: 1.6;
    color: #aaa;
    margin: 10px 0;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .expertise-grid {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .expertise-item {
        flex-direction: column;
        text-align: center;
    }

    .icon {
        font-size: 2rem;
    }

    .expertise-details h3 {
        font-size: 1.5rem;
    }

    .expertise-details p {
        font-size: 1rem;
    }
}

/* ===========================
   Work
   =========================== */

.work-section {
    padding: 100px 20px;
    background: linear-gradient(180deg, #2c3e50, #23303f);
    color: #ffffff;
    text-align: center;
}

/* ===========================
   Home
   =========================== */

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f2027;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid rgba(255,255,255,0.2);
    border-top: 8px solid #00ffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    animation: fadeIn 2s ease-out infinite;
}

@keyframes fadeIn {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}



@keyframes blinkCursor {
    50% {
        border-color: transparent;
    }
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #101820, #1c2833);
    height: auto;
    padding-top: 80px;

}

.home-content {
    display: flex;
    align-items: center;
    text-align: center;
}

.home-text {
    flex: 1;
    text-align: left; /*Alinear texto a la izquierda*/
    z-index: 10; /* Siempre arriba */
    padding-right: 20px;
}

.bio {
    font-size: 1.2rem;
    color: #cfd8dc;
    max-width: 600px;
    line-height: 1.6;
    margin-bottom: 2.5rem;
}

.tech-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px; /* Espacio entre íconos */
}

.tech-icons svg {
    font-size: 2rem;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.tech-icons svg:hover {
    transform: scale(1.4);
    color: #ff007f;
}

.cta-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cta-button {
    padding: 12px 30px;
    border: 2px solid #00ffff;
    background: transparent;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 30px;
}

.cta-button:hover {
    transform: scale(1.08); /* Crecimiento ligero del boton en hover*/
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.6); /* Sombra en hover */
    background-color: #00FFFF;
    color: #0f2027;
}

.cta-button.download:hover {
    background-color: #ff007f;
    color: #0f2027;
}


.home-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding: 0;

}

.profile-image {
    border-radius: 15px; /* Bordes suaves */
    max-width: 500px;
    width: 100%;
}

.separator {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    line-height: 0;
}

.separator svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px); /* Extiende un poco más el ancho para asegurar cobertura total */
    height: 100px;
    transform: rotateY(180deg); /* Si deseas invertir la orientación */
}

.shape-fill {
    fill: #0f2027; /* Ajusta el color al fondo de la siguiente sección */
}






@keyframes scroll {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}

.arrow {
    width: 12px;
    height: 12px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
    margin-top: 10px;
    animation: arrowScroll 1.5s infinite;
}

@keyframes arrowScroll {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(15px) rotate(45deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

@keyframes float {
    0%, 100% {
        transform: translateY(0) rotate(45deg);
    }
    50% {
        transform: translateY(-20px) rotate(45deg);
    }
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .home-content {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center;
    }

    .home-image {
        display: block; /* Cambia de 'none' a 'block' */
    }

    .profile-image {
        width: 40%; /* Ajusta el tamaño según sea necesario */
    }
}

/*Contact*/
.contact-section {
    padding: 40px 20px;
    background: linear-gradient(180deg, #1a252e, #101820);
    color: white;
    text-align: center;
}

.contact-section h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #00FFFF;
}

.contact-section p {
    font-size: 1.5rem;
    margin-bottom: 60px;
    color: #cfd8dc;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.contact-card {
    background-color: rgba(255,255,255, 0.05);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 255, 255, 0.4);
}

.contact-details h3, .contact-form h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #00FFFF;
}




.contact-details,
.contact-form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.9);
    flex: 1;
    min-width: 300px;
}



.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-item a {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: #FF007F;
}

.contact-icon {
    margin-right: 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.contact-item:hover .contact-icon{
    color: #ff007f;
}

/*.contact-form .form-group {
    margin-bottom: 20px;
}*/

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    margin-bottom: 20px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #00FFFF;
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
}

.contact-form button {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    background-color: #00FFFF;
    color: #0a192f;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-form button:hover {
    background-color: #ff007f;
    transform: translate(-5px);
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-card {
        width: 100%;
    }
}

/*Experience*/
.experience-section {
    padding: 100px 20px;
    background: linear-gradient(180deg, #23303f, #1a252e);
    color: #ffffff;
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: fadeInUp 0.6s ease-in-out;
}

.experience-section h2 {
    font-size: 3.5rem;
    margin-bottom: 50px;
    color: #00FFFF;
}

.timeline-container {
    display: flex;
    justify-content: center;
}

.timeline {
    position: relative;
    width: 90%;
    max-width: 800px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px; /* Espacio entre los ítems */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden; /* Esconder contenido al colapsar */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agrega transición suave */
}

.timeline-item.expanded {
    background-color: rgba(255, 255, 255, 0.1);
}

.timeline-item::before {
    width: 2px;
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    background-color: rgba(0, 255, 255, 0.6); /* Hacer la línea más sutil */
    z-index: 0;
}

.timeline-item:hover {
    transform: translateY(-5px); /* Efecto de elevación sutil */
    box-shadow: 0 4px 20px rgba(0, 255, 255, 0.1); /* Sombra sutil al hacer hover */
}
.experience-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #ffffff;
}

.timeline-content h3 {
    transition: color 0.3s ease, transform 0.3s ease;

}

.timeline-content:hover h3 {
    color: #00FFFF; /* Cambiar color del título en hover */
    transform: translateX(5px); /* Desplazamiento leve hacia la derecha */
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #0a192f;
    border: 2px solid #00FFFF;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    transition: box-shadow 0.3s ease;
    margin-bottom: 10px; /* Espacio entre el círculo y el contenido */
}

.circle:hover {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
}

.timeline-date {
    font-size: 1.3rem;
    background-color: #00FFFF;
    color: #0a192f;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.timeline-content {
    background-color: #112240;
    padding: 25px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
    margin-top: 10px;
    opacity: 1;
    max-height: 0;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    overflow: hidden;
    margin-bottom: 40px;
}

.timeline-content.expanded {
    max-height: 500px;
    opacity: 1;
}

.timeline-content.collapsed {
    max-height: 0;
    opacity: 0;
}

.timeline-content h3 {
    font-size: 2rem;
    color: #ffffff;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
    font-weight: 700;
}

.timeline-content h3::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #00FFFF;
    transition: width 0.3s ease-in-out;
}

.timeline-content h4 {
    font-size: 1.2rem;
    color: #cfd8dc;
    margin-bottom: 15px;
    text-align: left;
}

.timeline-content ul {
    list-style: disc;
    padding-left: 25px;
    text-align: left;
}

.timeline-content ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #cfd8dc;
}

.timeline-content p {
    margin: 15px 0 0;
    font-size: 1rem;
    line-height: 1.6;
    color: #aaaaaa;
    text-align: left;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .timeline {
        width: 100%;
        padding: 0 10px;
    }

    .timeline-content ul li {
        font-size: 1rem;
    }

    .timeline-date {
        font-size: 1rem;
        padding: 5px 10px;
    }

    .timeline-content {
        padding: 15px;
    }

    .timeline-content h3 {
        font-size: 1.5rem;
    }

    .timeline-content h4 {
        font-size: 1rem;
    }
}

/* --------------
Footer
-----------------
*/

.footer {
    padding: 20px 0;
    text-align: center;
    background-color: transparent;
    color: #cfd8dc;
    font-size: 0.9rem;
    margin-top: 0;
}

.footer p {
    margin: 0;
    padding: 0;
    color: #cfd8dc;
    font-size: 0.9rem;
}
