body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color : white;
}

.App {
    text-align: center;
}

h1 {
    font-size: 5rem;
    margin-top: 20vh;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.subtitle {
    font-size: 2vw;
    margin-top: 1vw;
    letter-spacing: 2px;
    position: relative;
    z-index: 15;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1vw 5vw;
    position: fixed;
    top : 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.01); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Desenfoque */
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
}

.cursor {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    pointer-events: none; /* Permite hacer clicks a travez del cursor */
    transform: translate(-50%, -50%); /* Centra el curculo en el mouse */
    transition: transform 0.1s ease-out; /* Movimiento mas suave */
    z-index: 1000; /* Siempre arriba */
}

section {
    padding: 100px 20px;
    min-height: 100vh;
}

h2 {
    font-size: 4vw;
    margin-bottom: 20px;
}

p {
    font-size: 1.5vw;
    line-height: 1.5;
}

.scroll-icon {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; /* Siempre arriba */
    animation: fadeIn 2s ease-out;
}

.mouse {
    width: 35px;
    height: 55px;
    border: 2px solid white;
    border-radius: 25px;
    position : relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mouse-in {
    width: 4px;
    height: 15px;
    background-color: white;
    border-radius: 2px;
    animation: scroll 1.5s infinite;
}

.expertise-section {
    padding: 100px 20px;
    background-color: #111;
    color: #fff;
    text-align: center;
}

.expertise-section h2 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.expertise-table {
    width: 100%;
    mas-width: 100px;
    margin: 0 auto;
    border-collapse: collapse;
}

.expertise-table tr {
    border-bottom: 1px solid #333;
    transition: background-color 0.9s ease;
}

.expertise-table tr:hover {
    background-color: #222;
}

.icon-cell {
    width: 60px;
    padding: 20px;
    font-size: 2.5rem;
    text-align: center;
    vertical-align: middle;
}

.expertise-table h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 20px 0;
    font-weight: 680;
    position: relative;
}

.highlight {
   position: relative;
}

.highlight::after {
    content: '';
    position:absolute;
    bottom:-5px;
    left: 0;
    width: 100px;
    height: 5px;
    background-color: currentColor;
    z-index: -1;
}

.highlight.pink::after {
    background-color: #ff007f;
}

.highlight.blue::after {
    background-color: #007bff;
}

.highlight.orange::after {
    background-color: #ff5722;
}

.expertise.table p {
    font-size: 1rem;
    line-height: 1.6;
    color: #aaa;
    margin: 10px 0;
    padding: 0 20px;
}

.home-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a192f;
    overflow: hidden;
    color: white;
    text-align: center;
}

.shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Las figuras deben estar atras siempre */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube {
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    transform: rotate(45deg);
    position : absolute;
    top: 50%;
    left: 30%;
    z-index: 1;
    animation: rotateCube 10s infinite linear;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.sphere {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at 50% 50%, #ffdd00, #ffaa00);
    border-radius: 50%;
    position : absolute;
    top: 20%;
    right: 20%;
    box-shadow: 0 20px 30px rgba(0,0,0,0.5);
    animation: floatSphere 8s infinite ease-in-out;
}

@keyframes rotateCube {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

@keyframes floatSphere {
    0%, 100% {
        transform: translate(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


@keyframes scroll {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}

.arrow {
    width: 12px;
    height: 12px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
    margin-top: 10px;
    animation: arrowScroll 1.5s infinite;
}

@keyframes arrowScroll {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(15px) rotate(45deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

@keyframes float {
    0%, 100% {
        transform: translateY(0) rotate(45deg);
    }
    50% {
        transform: translateY(-20px) rotate(45deg);
    }
}

/*Contact*/
.contact-section {
    padding: 100px 20px;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.contact-section h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #00FFFF;
    text-shadow: 0 4px 10px rgba(0, 255, 255, 0.4);
}

.contact-section p {
    font-size: 1.5rem;
    margin-bottom: 60px;
    color: #cfd8dc;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.contact-details,
.contact-form{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.9);
    flex: 1;
    min-width: 300px;
}

.contact-details h3,
.contact-details h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ff007f;
    text-shadow: 0 4px 10px rgba(255, 0, 127, 0.4);
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-item a {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: #e871ae;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgba(255,255,255, 0.2);
    color: white;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #00FFFF;
    background-color: rgba(255,255,255, 0.1);
    outline: none;
}

.contact-form button {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    background-color: #00FFFF;
    color: #0a192f;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-form button:hover{
    background-color: #ff007f;
    transform: translate(-5px);
}

.contact-form button:active{
    transform: translate(0);
}

/*Experience*/
.experience-section {
    padding: 100px 20px;
    background-color: #0a192f;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.experience-section h2 {
    font-size: 3.5rem;
    margin-bottom: 50px;
    color: #00FFFF;
    text-align: center;
}

.timeline-container {
    display: flex;
    justify-content: center;
}

.timeline {
    position: relative;
    width: 90%; /* Limita el ancho de la línea de tiempo */
    max-width: 800px; /* Ajusta el ancho máximo para centrar y limitar */
    margin-top: 30px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: 50%; /* Alineación centrada */
    transform: translateX(-50%);
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #0a192f;
    border: 3px solid #00FFFF;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5); /* Añadir el efecto de foco alrededor del círculo */
}

.timeline-date {
    position: relative;
    display: inline-block;
    background-color: #00FFFF;
    color: #0a192f;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Añade una sombra ligera para el efecto de tag */
}

.timeline-content {
    background-color: #112240;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 30px; /* Añadir margen para crear separación de la línea de tiempo */
}

.timeline-content:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.timeline-content h3 {
    margin: 0 0 10px;
    font-size: 1.8rem;
    color: #ffffff;
    text-align: left;
}

.timeline-content h4 {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #cfd8dc;
    text-align: left;
}

.timeline-content p {
    margin: 15px 0 0;
    font-size: 1rem;
    line-height: 1.6;
    color: #aaaaaa;
    text-align: left;
}

/* Estilos para la línea intercalada */
.timeline-item::after {
    content: '';
    position: absolute;
    left: 50%; /* Alineación centrada */
    transform: translateX(-50%);
    top: 20px;
    width: 3px;
    height: 100%;
    background-color: #00FFFF;
    z-index: 0;
}

.timeline-item:last-child::after {
    height: 50%; /* Ajustar el final de la línea para el último elemento */
}

/* Ajustar responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .timeline-container {
        width: 100%;
    }

    .timeline {
        width: 100%;
        padding: 0 10px;
    }

    .timeline-date {
        margin-left: 0;
        transform: none;
        margin-bottom: 10px;
    }

    .timeline-content {
        margin-left: 0;
        padding-left: 10px;
    }

    .timeline-item::before,
    .timeline-item::after {
        left: calc(50% - 1.5px); /* Ajuste para centrar en pantallas pequeñas */
    }
}